@model ProjectHermes.Models.AdminCreateModel

<h2>New Parent</h2>

@using (Html.BeginForm("CreateOrganisation", "Admin", FormMethod.Post))
{

	@Html.ValidationSummary();

	@Html.LabelFor(x => x.Organisation.Name);
	@Html.TextBoxFor(x => x.Organisation.Name);

    @Html.LabelFor(x => x.Organisation.Description);
    @Html.TextAreaFor(x => x.Organisation.Description);
    
	<h3>New Child Items</h3>
	@Html.LabelFor(x => x.ChildItems[0].Name)
    
	for (int i = 0; i < Model.ChildItems.Count(); i++)
	{
	<div>
		@Html.TextBoxFor(x => x.ChildItems[i].Name)
	</div>
	}

	  
	<div>
		<input type="submit" value="Add Organisation" />
		@Html.ActionLink("Cancel", "Index")
	</div>

    

}
