@model ProjectHermes.Models.OrganisationModel
@{
    ViewBag.Title = "EditStandardItem";
}

<p class="bigText">
    Edit the item below 
</p>


@using (Html.BeginForm("EditOrganisation", "Admin", FormMethod.Post))
{
    
    @Html.ValidationSummary();

    @Html.HiddenFor(x => x.Organisationid);
    
    @Html.LabelFor(x => x.Name);
    @Html.TextBoxFor(x => x.Name);
 
    @Html.LabelFor(x => x.Description);
    @Html.TextAreaFor(x => x.Description);
      
    <div class="control">
        <input type="submit" value="Edit Item" />
        @Html.ActionLink("Delete", "DeleteOrganisation", new { ID=Model.Organisationid })
        @Html.ActionLink("Cancel", "Index")
    </div>
   
 
}