@model ProjectHermes.Models.Admin.AdminModel


<div class="col-xs-12 col-sm-8">

        <h2>Places</h2>

        @if (Model.Places.Count == 0)
        {

            <p>No places have been added</p>

        }
        else
        {

            <table class="table">

                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Desciption</th>
                        <th>Controls</th>
                    </tr>

                </thead>

                @foreach (var item in Model.Places)
                {
                    <tr>
                        <td>
                            @item.PlaceName
                        </td>
                        <td>
                            @item.PlaceDescription

                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditPlace", "Place", new { id = item.PlaceId }, new { @class = "btn btn-default" })
                        </td>

                    </tr>


                }
            </table>




        }


    <div class="well">




        <h2>Attractions</h2>

        @{ if (Model.Attractions.Count == 0)
         {

            <p>Sorry no attractions have been added</p>

         }
           else
           {

            <table class="table">

                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Desciption</th>
                        <th>Controls</th>
                    </tr>

                </thead>

                @foreach (var item in Model.Attractions)
{
    <tr>
        <td class="title">
            @item.Name
        </td>
        <td>
            @item.Description

        </td>
        <td>
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAttraction", "Attraction", new { ID = item.Attrationid }, null)
        </td>

    </tr>


}
            </table>

           }}

    </div>

</div>



<div class="col-xs-12 col-sm-4 sidebar-offcanvas" id="sidebar">

    <div class="well">
        <p class="bigText">
            Manage the items on your site.
        </p>

        @Html.ActionLink("Add Attraction", "EditAttraction/0", "Attraction", null, new { @class = "btn btn-default" })

        @Html.ActionLink("Add Place", "EditPlace/0", "Place", null, new { @class = "btn btn-default" })

        @TempData["Message"]

    </div>




</div>
