@model ProjectHermes.Models.Account.UserManagementModel



<div class="col-xs-12 col-sm-9">





    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Details
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var user in Model.users)
            {

                <tr>
                    <td class="title">
                        @user.Username
                    </td>
                    <td>
                        @if (user.Roles.Count() > 0)
                        {
                            <ul>

                                @foreach (var role in user.Roles)
                                {
                                    <li>
                                        @role.Role
                                    </li>
                                }

                            </ul>

                        }
                        else
                        {
                            <p>User is in no roles</p>
                        }
                    </td>
                    <td>

                        @Html.ActionLink("View", "OpenUser", "Account", new { username = user.Username }, null)

                        @Html.ActionLink("Block", "BlockUser", "Account", new { username = user.Username }, null)

                        @Html.ActionLink("Delete", "DeleteUser", "Account", new { username = user.Username }, null)

                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">


    <p>
        Manage the users on the site
    </p>


    @using (Html.BeginForm("UserManagement", "User", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.SearchCriteria)
            @Html.TextBoxFor(x => x.SearchCriteria, new { @class = "form-control" })

        </div>


        <button type="submit" class="btn btn-default">Submit</button>
    }


    @Html.ActionLink("Add a new user", "Register", "Account")

</div>