@model ProjectHermes.Models.HomeModel

<section class="HeaderSection">
	<header>
		<h2>Home Page</h2>
	</header>
	<article>
		<div class="subTitle">
			<p class="bigText">This will be a subtitle </p>
		</div>

		<p>The concept of data on this site is simple there is a parent item with child item.</p>
	</article>
</section>
<br style="clear:both" />

   
@using (Html.BeginForm("Index","Home", FormMethod.Post))
{

    @Html.ValidationSummary(true)
    
 <section class="ArticleSection">
	
	@for (var i = 0; i < Model.Places.Count; i++)
    {

     
       <article class="standardarticle" >    
				 <header>
					 @Model.Places[i].PlaceName
				 </header>
                <div class="content">
					@Model.Places[i].PlaceDescription

                    @if (Model.Places[i].Organisations.Count > 0)
                    { 
                    
                    <ul>
                    @foreach (var item in @Model.Places[i].Organisations)
                    {
                      <li> @item.Name </li>
                    }
                    </ul>
                    }
                        


   
                </div>
				 <footer>
					@Html.ActionLink("View Item","Details", new { ID = Model.Places[0].PlaceId}, null)
				 </footer>
       </article> 
       
    }
</section>
        
    
}


